<footer id="footer" role="footer" class="py-5 bg-dark">
    <div class="container text-white">
        <div class="row">
            <div class="col-sm-4 col-xs-12">
                <p>
                </p>
                <h2>Projects:</h2>
                <p></p>
                <p>
                    <a target="_blank" href="https://ksp-part-catalog.space">KSP Part catalog</a>
                </p>
                <p>
                    <a target="_blank" href="https://json-gui.site">JSON Gui</a>
                </p>
                <p>
                    <a target="_blank" href="https://bunkersem.github.io/mouse-mania/">Mouse mania</a>
                </p>
                <p>
                    <a href="https://protected-url.herokuapp.com/" target="_blank">Protected url</a>
                </p>
                <p>
                    <a href="https://esstudio.site/">More projects</a>
                </p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>
                </p>
                <h2>Other:</h2>
                <p></p>
                <p>
                    <a href="_blank">Github</a>
                </p>
                <p>
                    <a target="_blank" href="https://www.youtube.com/user/9Wereld/videos">Youtube</a>
                </p>
                <p>
                    <a target="_blank" href="https://bunkersem.github.io/portfolio/">My Portfolio</a>
                </p>
                <p>
                    <a target="_blank" href="https://play.google.com/store/apps/developer?id=EchoSierraStudio">Apps</a>
                </p>
                <p>
                    <a target="_blank" href="https://sketchfab.com/Afirus">Sketchfab</a>
                </p>
                <p>
                    <a target="_blank" href="https://www.sololearn.com/Profile/1157573">SoloLearn</a>
                </p>
            </div>
            <div class="col-sm-4 col-xs-12">
                <p>
                </p>
                <h2>Social:</h2>
                {% include social.html %}
            </div>
        </div>
    </div>
</footer>

<script>
    window.appConf = {
        apiUrl: '{{ site.api_url }}'
    }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js" integrity="sha256-THlgZSjqt7idNSdnUvGypTuXB5C4hV9kSuPYrbiq19o=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
<script src="{{ "/assets/js/main.js" | absolute_url }}" type="text/javascript"></script>
<script src="{{ "/assets/js/smoothscroll.js" | absolute_url }}" type="text/javascript"></script>
    